<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Config Item</title>
  </head>
  <body>
    <form action="/configitem" method="GET">
    <select name="key">
      <option value="">all</option>
      {% for curkey in keys %}
      <option value="{{ curkey }}" {% if curkey == key %}selected{% endif %}>{{ curkey }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Query" />
    </form>{{ message }}
    <form action="/configitem" method="POST">
    Key: <input type="text" name="key" value="{{ key }}" size="100"/>
    <br/><textarea name="value" rows="20" cols="130">{{ value }}</textarea>
    <br/><input type="submit" value="Save" />
    </form>
    {% for item in items %}
        <br/><br/>{{ item.key }}: {{ item.value }}
    {% endfor %}
  </body>
</html>

